body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

form {
  max-width: 400px;
  margin: auto;
}

label {
  display: block;
  margin-top: 10px;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#lista-despensa {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #4caf50;
  color: white;
}

#imprimir-btn {
  margin-top: 10px;
}

/* Estilos para resaltar productos vencidos o a punto de vencer al imprimir */
@media print {
  form {
    display: none;
  }

  /* Estilo para texto en negrita */
  #tabla-despensa-body .vencido,
  #tabla-despensa-body .a-vencer {
    font-weight: bold;
    text-decoration: underline;
  }

  /* Estilo para cambiar el color de texto */
  #tabla-despensa-body .a-vencer {
    color: red; /* Puedes ajustar el color según tu preferencia */
  }

  table {
    page-break-inside: auto;
  }

  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }

  td {
    page-break-inside: avoid;
  }

  /* Evitar división de líneas para la descripción */
  #tabla-despensa-body td:nth-child(2) {
    white-space: nowrap;
  }
}
